/venv/
/.idea/
/DataToolkit/__pycache__/
/Plots/
*.yaml
*.csv
!/DataToolkit/Examples/JupyterNotebooks/Discriminating/CSVDiscriminator/csv_discriminator_example.csv
*.pkl
*.pickle
*.lnk
*.png
.DS_Store