/venv/
/.idea/
/DataToolkit/__pycache__/
/Plots/
*.yaml
*.csv
!/DataToolkit/Examples/JupyterNotebooks/Discriminating/CSVDiscriminator/csv_discriminator_example.csv
*.pkl
*.pickle
*.lnk
*.png
!/DataToolkit/Examples/JupyterNotebooks/Discriminating/CSVDiscriminator/Breakfast_CSV_Image.png
!/DataToolkit/Examples/JupyterNotebooks/Discriminating/Discriminator/Example_Metadata_Table.png
.DS_Store